.landing__message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    font-weight: var(--fw-semibold);
    text-align: center;
    padding: 2.5rem;
    padding-bottom: 0.5rem;
}

.products__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    padding: 2rem 5%;
}

.product {
    background-color: var(--clr-light);
    box-shadow: var(--bs);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 15px;
    height: 100px;
}

.product__img {
    max-width: 120px;
}

.product__line {
    width: 2px;
    height: 80%;
    background-color: var(--clr-bg);
}

.product__subcontainer {
    height: 100%;
    width: 55%;
}

.product__title {
    font-weight: var(--fw-semibold);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 13rem;
    font-weight: var(--fw-light);
}

@media (min-width: 460px) {
    .products__container {
        padding: 2rem 10%;
    }
  }

@media (min-width: 800px) {
    .product {
        padding: 2rem;
        height: 140px;
    }
    
    .product__img {
        max-width: 140px;
    }

    .product__subcontainer {
        padding: 1rem;
    }
  }