.search__bar__container {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}

.search__bar {
    width: 90%;
    display: flex;
    align-items: center;
    position: relative;
}

.search__bar__input {
    width: 100%;
    padding: 1.5rem;
    border-radius: 15px;
    border: var(--clr-gray) 1px solid;
    background-color: var(--clr-light);
    outline: none;
    transition: .2s;
}

.search__bar__input:focus {
    border: var(--clr-main) 1px solid;
}

.search__bar__input::placeholder {
    font-family: var(--ff-primary);
    color: var(--clr-dark-gray);
}

.search__icon {
    color: var(--clr-gray);
    font-size: var(--fs-icon) !important;
    position: absolute;
    right: 5px;
}

@media (min-width: 460px) {
    .search__bar {
        width: 80%;
    }
  }