@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --ff-primary: 'Montserrat', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;

  --fw-light: 200;
  --fw-regular: 450;
  --fw-semibold: 600;
  --fw-bold: 900;

  --clr-main: #17A8FD;
  --clr-secondary: #4DBCFE;
  --clr-bg: #F8F9FB;
  --clr-dark: #0F0F0F;
  --clr-light: #FFFFFF;
  --clr-gray: #C2E5FA;
  --clr-dark-gray: #bdbdbd;
  --clr-blue: #17A8FD;
  --clr-red: #FF2626;
  --clr-hover: #fffb00;

  --fs-h1: 3rem;
  --fs-h2: 2rem;
  --fs-h3: 1.7rem;
  --fs-body: 1.4rem;
  --fs-small: 1.2rem;
  --fs-button: 1.5rem;
  --fs-icon: 3.5rem;

  --bs: 7px 7px 15px 0px rgba(0,0,0,0.1);

  --bs-2: 0.1em 0.1em 1.5em 0.2em rgba(0, 0, 0, 0.15);

  --bs-3: 0.05em 0.05em 1.5em 0.1em rgba(0, 0, 0, 0.15),
      0.1em 0.1em 0.5em 0.05em rgba(0, 0, 0, 0.1);
}

@media (min-width: 800px) {
  :root {
      --fs-h1: 3.3rem;
      --fs-h2: 2.5rem;
      --fs-h3: 2rem;
      --fs-body: 1.6rem;
      --fs-small: 1.2rem;
      --fs-button: 1.6rem;
  }
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-bg);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  font-family: var(--ff-primary);
}

button {
  cursor: pointer;
}